.instagram-login-page{
    background:linear-gradient(120deg,#f8f8fa,#eef7ff,#f5fff8);
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

.login-container{
    width:430px;
    margin:auto;
    min-height:100vh;
    text-align:center;
    padding-top:95px;
}

.logo-section{
    margin-bottom:165px;
}

.instagram-logo{
    width:92px;
    height:92px;
    margin:auto;
    position:relative;
    border-radius:27px;

    background:linear-gradient(
        225deg,
        #7b2cff 0%,
        #c82fd1 35%,
        #f23b4f 70%,
        #ffb000 100%
    );
}

.instagram-empty{
    position:absolute;
    top:9px;
    left:9px;
    width:74px;
    height:74px;
    border-radius:21px;
    background:#eef7ff;
}

.instagram-circle{
    position:absolute;
    top:27px;
    left:27px;
    width:38px;
    height:38px;
    border-radius:50%;

    background:linear-gradient(
        225deg,
        #b72fd1 0%,
        #ef3b55 65%,
        #ff9f00 100%
    );
}

.circle-empty{
    position:absolute;
    top:8px;
    left:8px;
    width:22px;
    height:22px;
    border-radius:50%;
    background:#eef7ff;
}

.instagram-dot{
    position:absolute;
    top:19px;
    right:19px;
    width:11px;
    height:11px;
    border-radius:50%;
    background:#b72fd1;
}

.login-input{
    height:62px;
    background-color:white;
    border:1px solid #d5dbe0;
    border-radius:18px;
    color:black;
    font-size:20px;
    padding-left:22px;
}

.login-input::placeholder{
    color:#75808c;
}

.login-button{
    width:100%;
    height:55px;
    background-color:#0866e8;
    color:white;
    border:none;
    border-radius:28px;
    font-size:20px;
}

.forgot-password-link{
    color:black;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
}

.space-section{
    height:245px;
}

.create-account-button{
    width:100%;
    height:55px;
    background-color:transparent;
    color:#0866e8;
    border:2px solid #0866e8;
    border-radius:28px;
    font-size:19px;
    font-weight:bold;
}

.meta-text{
    color:#4a5560;
    font-size:20px;
    font-weight:bold;
    margin-top:28px;
}